@model MesTAManagementSystem_New.ViewModels.Training.Testing.OnlineExamVM

@{
    ViewBag.Title = "OnlineExam(線上考試)";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@section styles
{
    <link rel="stylesheet" href="~/Content/ses.css">
}


<div id="OnlineExam" class="page-container">
    <table>
        <tr>
            <td colspan="2"><img src="~/Content/images/title-blank.jpg" /></td>
            <td colspan="6" class="title">線上考試 Online Exam</td>
        </tr>
    </table>
    <div id="frmOnlineExam">
        @Html.HiddenFor(m => m.ExamStatus)
        @Html.HiddenFor(m => m.SpendTime)
        @Html.HiddenFor(m => m.AllTime)
        @Html.HiddenFor(m => m.ExamRegNo)

        <table id="OnlineExamStartTable" class="table table-bordered">
            <tr>
                <td class="bg-dark text-white text-center">工號 EMP ID</td>
                <td>
                    @Html.TextBoxFor(m => m.EmpId, new { @class = "form-control width-auto", @readonly = "readonly", id = "txtEmp_id" })
                </td>

                <td class="bg-dark text-white text-center">試題項目代碼 Course</td>
                <td>
                    @Html.TextBoxFor(m => m.CerItemId, new { @class = "form-control width-auto", @readonly = "readonly", id = "sltCerItemId" })
                </td>

                <td class="bg-dark text-white text-center">站別 Station</td>
                <td>
                    @Html.TextBoxFor(m => m.StationId, new { @class = "form-control width-auto", @readonly = "readonly", id = "sltStationId" })
                </td>

                <td>
                    <button type="submit" class="btn btn-success" onclick="return validateStartExam();" disabled>開始測驗 Start Exam</button>
                </td>
            </tr>
        </table>
    </div>
    @using (Html.BeginForm("SubmitExam", "OnlineExam", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.EmpId) @Html.HiddenFor(m => m.CerItemId) @Html.HiddenFor(m => m.StationId) @Html.HiddenFor(m => m.ExamRegNo) @Html.HiddenFor(m => m.SpendTime) @Html.HiddenFor(m => m.AllTime)

        <h4>
            1. 必考題 Necessary Questions
        </h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Answer</th>
                    <th>#</th>
                    <th>Question</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.NecessaryQuestions.Count; i++)
                {
                    <tr>
                        <td>
                            <input type="text" name="NecessaryQuestions[@i].UserAnswer" value="@Model.NecessaryQuestions[i].UserAnswer" maxlength="1" size="2" />
                            <input type="hidden" name="NecessaryQuestions[@i].Answer" value="@Model.NecessaryQuestions[i].Answer" />
                            <input type="hidden" name="NecessaryQuestions[@i].Subject" value="@Model.NecessaryQuestions[i].Subject" />
                            <input type="hidden" name="NecessaryQuestions[@i].Type" value="@Model.NecessaryQuestions[i].Type" />
                        </td>
                        <td>@(i + 1)</td>
                        <td>@Model.NecessaryQuestions[i].Subject</td>
                    </tr>
                }
            </tbody>
        </table>

        <h4>
            2. 是非題 True/False Questions
        </h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Answer</th>
                    <th>#</th>
                    <th>Question</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.TrueFalseQuestions.Count; i++)
                {
                    <tr>
                        <td>
                            <select name="TrueFalseQuestions[@i].UserAnswer">
                                <option value="T">○</option>
                                <option value="F">╳</option>
                            </select>
                            <input type="hidden" name="TrueFalseQuestions[@i].Answer" value="@Model.TrueFalseQuestions[i].Answer" />
                            <input type="hidden" name="TrueFalseQuestions[@i].Subject" value="@Model.TrueFalseQuestions[i].Subject" />
                            <input type="hidden" name="TrueFalseQuestions[@i].Type" value="@Model.TrueFalseQuestions[i].Type" />
                        </td>
                        <td>@(i + 1)</td>
                        <td>@Model.TrueFalseQuestions[i].Subject</td>
                    </tr>
                }
            </tbody>
        </table>

        <h4>
            3. 選擇題 Multiple Choice Questions
        </h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Answer</th>
                    <th>#</th>
                    <th>Question</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.ChoiceQuestions.Count; i++)
                {
                    <tr>
                        <td>
                            <input type="text" name="ChoiceQuestions[@i].UserAnswer" value="@Model.ChoiceQuestions[i].UserAnswer" maxlength="1" size="2" />
                            <input type="hidden" name="ChoiceQuestions[@i].Answer" value="@Model.ChoiceQuestions[i].Answer" />
                            <input type="hidden" name="ChoiceQuestions[@i].Subject" value="@Model.ChoiceQuestions[i].Subject" />
                            <input type="hidden" name="ChoiceQuestions[@i].Type" value="@Model.ChoiceQuestions[i].Type" />
                        </td>
                        <td>@(i + 1)</td>
                        <td>@Model.ChoiceQuestions[i].Subject</td>
                    </tr>
                }
            </tbody>
        </table>

        <h4>
            4. 連連看題型 Linking Questions
        </h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Answer</th>
                    <th>#</th>
                    <th>Question</th>
                    <th>FileName</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.LinkQuestions.Count; i++)
                {
                    <tr>
                        <td>
                            <input type="text" name="LinkQuestions[@i].UserAnswer" value="@Model.LinkQuestions[i].UserAnswer" maxlength="1" size="2" />
                            <input type="hidden" name="LinkQuestions[@i].Answer" value="@Model.LinkQuestions[i].Answer" />
                            <input type="hidden" name="LinkQuestions[@i].Subject" value="@Model.LinkQuestions[i].Subject" />
                            <input type="hidden" name="LinkQuestions[@i].Type" value="@Model.LinkQuestions[i].Type" />
                        </td>
                        <td>@(i + 1)</td>
                        <td>@Model.LinkQuestions[i].Subject</td>
                        <td><img src="~/Content/Images/@Model.LinkQuestions[i].File_Name" /></td>
                    </tr>
                }
            </tbody>
        </table>

        <button type="submit" class="btn btn-primary">送出 Submit</button>
    }
</div>
