@model MesTAManagementSystem_New.ViewModels.Training.Testing.ScoreQueryVM @{ ViewBag.Title = "成績查詢 Score Query"; Layout = "~/Views/Shared/_LayoutMain.cshtml"; }

@section styles { <link rel="stylesheet" href="~/Content/ses.css" /> }

@section scripts { <script> $(document).ready(function () { $('#btnQuery').click(function (e) { e.preventDefault(); $.ajax({ url: '@Url.Action("Query", "ScoreQuery")', type: 'POST', data: $('#scoreQueryForm').serialize(), success: function (data) { $('#resultContainer').html(data); }, error: function () { alert('查詢失敗'); } }); });

$('#StationId').change(function () {
            var stationId = $(this).val();
            $.get('@Url.Action("GetCerItemIdList", "ScoreQuery")', { stationId: stationId }, function (data) {
                var $dropdown = $('#CertItemId');
                $dropdown.empty().append($('<option>').val('').text('ALL'));
                $.each(data, function (i, item) {
                    $dropdown.append($('<option>').val(item.Value).text(item.Text));
                });
            });
        });
    });
</script>

}

<div class="page-container">
    <table>
        <tr>
            <td><img src="~/Content/images/title-blank.jpg" /></td>
            <td class="title">成績查詢</td>
        </tr>
    </table><form id="scoreQueryForm" method="post">
    <table class="query-table">
        <tr>
            <td>站別區域：</td>
            <td>
                @Html.DropDownListFor(m => m.StationId, Model.StationOptions, "ALL", new { @id = "StationId" })
            </td>
            <td>試題代碼：</td>
            <td>
                @Html.DropDownListFor(m => m.CertItemId, Model.CertItemOptions, "ALL", new { @id = "CertItemId" })
            </td>
        </tr>
        <tr>
            <td>開始時間：</td>
            <td>
                @Html.DropDownListFor(m => m.StartYear, Model.YearOptions)
                年
                @Html.DropDownListFor(m => m.StartMonth, Model.MonthOptions)
                月
            </td>
            <td>結束時間：</td>
            <td>
                @Html.DropDownListFor(m => m.EndYear, Model.YearOptions)
                年
                @Html.DropDownListFor(m => m.EndMonth, Model.MonthOptions)
                月
            </td>
        </tr>
        <tr>
            <td>班別：</td>
            <td>@Html.DropDownListFor(m => m.ShiftId, Model.ShiftOptions, "ALL")</td>
            <td>工號：</td>
            <td>@Html.TextBoxFor(m => m.EmpId)</td>
        </tr>
    </table>

    <div class="button-group">
        <button type="submit" id="btnQuery">查詢</button>
    </div>
</form>

<div id="resultContainer">
    @Html.Partial("_ScoreQueryTable", Model.Results)
</div>

</div>